{% extends 'spadashboard/index.html' %}
{% load static %}
{% block heading %}

<div class="page-title-wrapper">
	<div class="page-title-heading">
		<div class="page-title-icon">
			<i class="fa fa-list-alt icon-gradient bg-mean-fruit"></i>
		</div>
		<div>
			Attendance List
			<div class="page-title-subheading">You can manage your attendance list here.</div>
		</div>
	</div>
	<div class="page-title-actions">
		<button id="btnaddattendance" type="button" class="btn btn-success" data-toggle="modal" data-target="#checkinModal">
			<span class="btn-icon-wrapper">
				<i class="fa fa-clock fa-fw"></i>
				Check-In
			</span>
		</button>
		<button id="btnaddattendance" type="button" class="btn btn-danger" data-toggle="modal" data-target="#checkoutModal">
			<span class="btn-icon-wrapper">
				<i class="fa fa-clock fa-fw"></i>
				Check-Out
		</button>  
		
		



<!--check-in Modal -->
<div class="modal fade" id="checkinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Check-In here</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form action="" method="POST">
				{% csrf_token %}
				<!-- <label> Staff Name</label> -->
				<select name="name" class="form-control" required>
					<option value="">Staff select</option>
					{% for staff in staffs %}
						<option value="{{staff.id}}">{{staff.name}}</option>
					{% endfor %}
				</select><br>
				<!-- <label>Time In</label> -->
				<input type="time" name="time_in" class="form-control" required/>
				<br>
				<input type="submit" value="CHECK IN" class="btn btn-success w-100" />
			</form>
		</div>
		
	  </div>
	</div>
  </div>

<!--checkout Modal -->
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Check-Out here</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form action="" method="POST">
				{% csrf_token %}
				<!-- <label>Staff Name</label> -->
				<select name="name" class="form-control" required>
					<option value="">Staff select</option>
					{% for staff in staffs %}
						<option value="{{staff.id}}">{{staff.name}}</option>
					{% endfor %}
				</select><br>
				<!-- <label>Time Out</label> -->
				<input type='time' name="time_out" class="form-control" required/><br>
				<input type="submit" value="CHECK-OUT" class="btn btn-danger w-100">
			</form>
		</div>
		
	  </div>
	</div>
  </div>


                    		
	</div>
</div>

{% endblock %}
{% block home %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--Attendance-->
<div class="container-fluid p-3 mb-3 rounded bg-white">
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Attendance List</h4>
			<hr />
		</div>
	</div>
	<table id="dtBasicExample" class="table table-striped table-bordered table-sm " cellspacing="0" width="100%">
		<thead class="alert-light">
			<tr>
				<th class=" text-center th-sm">Date</th>
				<th class=" text-center th-sm">Staff_Name</th>
				<th class=" text-center th-sm">Time_In</th>
				<th class="text-center th-sm">Time_Out</th>
				<th class=" text-center th-sm">Remarks</th>
				<!-- {% if request.user.is_superuser %}
					<th class=" text-center th-sm">Action
					</th>-->
				<!-- {% endif %} -->
			</tr>
		</thead>
		<tbody>
			{% for att in attendance %}
				<tr>
					<td class="text-center">{{att.date|date:'Y/m/d' }}</td>
					<td class="text-center">{{att.name}}</td>
					<td class="text-center">{{att.time_in}}</td>
					<td class="text-center">{% if att.time_out %}{{att.time_out}}{% else %}-{% endif %}</td>
					<td class="text-center">{% if att.remarks %}{{att.remarks}}{% else %}-{% endif %}</td>
					<!-- {% if request.user.is_superuser %}
					<td>  <a class="btn btn-sm btn-danger" href="delete_atten/{{a.id}}" data-toggle="modal" data-target="#myModals">Delete</a></td>
					{%endif%}-->
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<!-- Modal -->
	<div class="modal fade" id="myModals" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"></button>
					<h4 class="modal-title text-center">Delete Client Details</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure want to delete city</p>
					{% for a in atten %}


					<a href="delete_atten/{{a.id}}" class="btn btn-danger">Delete</a>
					{%endfor%}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
</div>

<script>
	var today_date = new Date();
	var year = today_date.getFullYear();	
	var day = today_date.getDate();
	var month_today = today_date.toLocaleString('default', { month: 'short' });
	var display_date = month_today + ' ' + ('0'+day).slice(-2) + ", " + year + '.'
	document.getElementById("today_date_attendace").innerHTML = display_date;
</script>
{% endblock %}