{% extends 'spadashboard/index.html' %}
{% load static %}
{% block heading %}

<div class="page-title-wrapper">
	<div class="page-title-heading">
		<div class="page-title-icon">
			<i class="fa fa-building icon-gradient bg-mean-fruit">
			</i>
		</div>
		<div>
			Manage City
			<div class="page-title-subheading">You can manage your City here.
			</div>
		</div>
	</div>
	<div class="page-title-actions">
		<button id="btnaddcity" type="button" class="btn btn-info">
			<span class="btn-icon-wrapper">
				<i class="fa fa-building fa-fw"></i>
			</span>
			Add City
		</button>
	</div>
</div>
{% endblock %}
{% block home %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		$("#citylistsection").hide();
		$("#btnaddcity").click(function () {
			$("#citylistsection").toggle();
		});
	});
</script>

<!--add city -->
<div class="container-fluid p-3 mb-3 rounded bg-white" id="citylistsection">
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Add City</h4>
			<hr />
		</div>
	</div>
	<form method="POST">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-6 form-group">
				<label class="label" for="city">Enter City Name</label></br>
				<input type="text" name="name" class="form-control" required/>
			</div>
			<div class="col-md-6 form-group pt-2"></br>
				<input type="submit" class="btn btn-lg btn-block btn-info font-weight-bold" value="Add New City">
			</div>
		</div>
	</form>
</div>

<!--city list here-->
<div class="container-fluid p-3 mb-3 rounded bg-white">
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>City Details</h4>
			<hr />
		</div>
		<div class="col-md-12">
			<table class="table text-center table-bordered" id="dtBasicExample">
				<thead class="alert-light">
					<tr>
						<th>NAME</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for city in cities %}
					<tr>
						<td>{{ city.name }}</td>
						<input type="hidden" name="{{ city.id }}" value="">
						<td class="btn-group">
							<a class="btn btn-primary font-weight-bold text-white" 
								onclick="edit_{{ city.id }}()" data-toggle="modal"
								data-target="#myModal"><i class="fa fa-fw fa-pencil"></i>&nbsp;Edit
							</a>
							<a class="btn btn-sm btn-danger" href="delete/{{ city.id }}">
								<i class="fa fa-fw fa-trash"></i>&nbsp;Delete</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!-- Modal -->
<div class="container">
	<div class="modal" id="myModal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"></button>
					<h4 class="modal-title text-center">Edit City</h4>
				</div>
				<div class="modal-body">
					<form id="update_form" method="POST">
						{% csrf_token %}
						<div class="form-group">
							<label for="name" class="label">Change Name</label>
							<input id="city_name" type="text" name="name" class="form-control" required="required"/>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-sm btn-success">Update</button>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
</div>

	<!-- Modal -->
	<div class="modal" id="myModals" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"></button>
					<h4 class="modal-title text-center">Delete City</h4>
				</div>
				<div class="modal-body">

					<p>Are you sure want delete data</p>

					<div class="form-group">
						{% if city %}

						<a class="btn btn-sm btn-danger" href="delete/{{ city.id }}">Delete</a>
						{%endif%}
					</div>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
</div>

<script>
	{% for city in cities %}
		function edit_{{ city.id }} (){
			$("#city_name").val("{{ city.name }}")
			$("#update_form").attr("action", "{% url 'update_city' city.id %}")
		}
	{% endfor %}
</script>

<script>
	$('#dtBasicExample').dataTable({
		dom: 'Bfrtip',
		buttons: [
			{
				extend: 'excelHtml5',
				title: 'GUEST LIST',
				text: 'Export to excel',
				className: 'btn btn-success',
				footer: true,
				exportOptions: {
					columns: ':not(.notexport)'
				}

				//Columns to export
				//exportOptions: {
				//     columns: [0, 1, 2, 3,4,5,6]
				// }
			},
			{
				extend: 'pdfHtml5',
				title: 'GUEST LIST',
				text: 'Export to PDF',
				className: 'btn btn-primary ml-1',
				footer: true,
				exportOptions: {
					columns: ':not(.notexport)'
				}
				//Columns to export
				//exportOptions: {
				//     columns: [0, 1, 2, 3, 4, 5, 6]
				//  }
			}
		],
	})

</script>

{% endblock %}