{% extends 'spadashboard/index.html' %}
{% load static %}
{% block heading %}
<div class="page-title-wrapper">
    <div class="page-title-heading">
        <div class="page-title-icon">
            <i class="fa fa-user icon-gradient bg-mean-fruit">
            </i>
        </div>
        <div>
            Manage Manager
            <div class="page-title-subheading">You can manage your Managers here.
            </div>
        </div>
    </div>
    <div class="page-title-actions">
        <button id="btnaddmanager" type="button" class="btn btn-info">
            <span class="btn-icon-wrapper">
                <i class="fa fa-user-plus fa-fw"></i>
            </span>
            Add Manager
        </button>
    </div>
</div>
{% endblock %}
{% block home %}
<!--add new manager-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#addmanagersection").hide();
        $("#btnaddmanager").click(function () {
            $("#addmanagersection").toggle();
        });
    });
</script>

<div class="container-fluid p-5 mb-3 rounded bg-white" id="addmanagersection">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4>Add New Manager</h4>
            <hr />
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <!-- <div class="col-md-4 form-group">
                <label class="label" for="name">Name</label>
                <input type="name" name="name" class="form-control" required/>
            </div> -->
            <div class="col-md-6 form-group">
                <label class="label" for="username">User Name</label>
                <input type="text" name="username" class="form-control" required/>
            </div>            
            <div class="col-md-6 form-group">
                <label class="label">Email</label>
                <input type="email" name="email" class="form-control" required/>
            </div>
            <div class="col-md-6 form-group">
                <label class="label" for="password">password</label>
                <input type="password" name="password" class="form-control" required/>
            </div>            
            <div class="col-md-6 form-group">
                <label for="city" class="label">City</label>
                <select name="city" id="cityId" style="width: 100%;" required>
                    <option value=""> Select City..</option>
                    {% for cities in city %}
                        <option value="{{cities.id}}">{{ cities.name }}</option>
                    {%endfor%}
                </select>
            </div>
            <div>
                {% for message in messages %}
                <h1 class="h3">{{message}}</h1>
                {%endfor%}
            </div>
        </div>
        <input type="submit" class="btn btn-primary font-weight-bold w-100" value="Add New Manager">
    </form>
</div>

<!--Manager details-->
<div class="container-fluid bg-white rounded p-3">
    <div class="row">
        <h4 class="col-12 text-center">Manager List Details</h4>
        <hr />
    </div>
    <div class="row table-responsive">
        <div class="col-12">
        <table class="table table-bordered" id="example">
            <thead class="alert-light">
                <tr class="text-center">
                   <!-- <th>Name</th>-->
                   <th>User Name</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for manager in managers %}
                    <tr>
                        <!--<td>{{ manager.first_name }}</td>-->
                        <td>{{ manager.username }}</td>
                        <td>{{ manager.email }}</td>
                        <td>{{ manager.city }}</td>
                        <input type="hidden" name="{{ manager.id }}">
                        <td>
                            <a class="btn btn-primary text-white" 
                                onclick="edit_{{ manager.id }}()" data-toggle="modal" data-target="#myModal">
                                <i class="fa fa-lg fa-pencil"></i>
                            </a>
                            <a class="btn btn-danger" href="{% url 'delete_manager' manager.id %}"><i class="fa fa-lg fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title text-center">EDIT MANAGER DETAILS</h4>
                </div>
                <div class="modal-body">
                    <form id="update_form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="label" for="username">User Name</label>
                            <input type="text" id="username" name="username" class="form-control" required/>
                        </div>
                       <!-- <div class="form-group">
                            <label for="name" class="label">Change Manager Name</label>
                            <input id="name" type="text" name="name" class="form-control" required/>
                        </div>-->
                        <div class="form-group">
                            <label for="name" class="label">Email</label>
                            <input id="email" type="email" name="email" class="form-control" required/>
                        </div>
                    <!-- <div class="form-group">
                            <label for="name" class="label">Specialist</label>
                            <input id="service" type="text" name="service"  class="form-control" required="required"/>
                        </div> -->
                        <div class="form-group">
                            <label for="city" class="label">City</label>
                            <select id="city" name="city" class="form-control" required>
                                {% for cities in city %}
                                    <option value="{{cities.id}}">{{ cities.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label class="label" for="password">password</label>
                            <input type="password" id="password" name="password" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-success">Update</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModals" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title text-center">Delete Manager</h4>
                </div>
                <div class="modal-body">

                    <p>Are you sure want delete data</p>

                    <div class="form-group">
                        {% for m in manager %}


                        <a class="btn btn-sm btn-danger" href="delete_manager/{{ m.id }}">Delete</a> {%endfor%}

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

{% if message %}
    <span id="message" style="display: none;">{{message}}</span> 
{% endif %}
<script>
    {% for manager in managers %}
        function edit_{{manager.id}} () {
            $("#name").val("{{ manager.first_name }}")
            $("#email").val("{{ manager.email }}")
            $("#city").val("{{ manager.city.id }}")
            $("#city").attr("selected")
            $("#username").val("{{ manager.username }}")
            $("#password").val("******")
            $("#update_form").attr("action", "{% url 'update_manager' manager.id %}")
        }
    {% endfor %}
</script>



<link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.1.1/css/dataTables.dateTime.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.1.1/js/dataTables.dateTime.min.js"></script>






<script>
    $('#dtBasicExample').dataTable({
        dom: 'Bfrtip',
        buttons: [{
            extend: 'excelHtml5',
            title: 'GUEST LIST',
            text: 'Export to excel',
            className: 'btn btn-success',
            footer: true,
            exportOptions: {
                columns: ':not(.notexport)'
            }

            //Columns to export
            //exportOptions: {
            //     columns: [0, 1, 2, 3,4,5,6]
            // }
        }, {
            extend: 'pdfHtml5',
            title: 'GUEST LIST',
            text: 'Export to PDF',
            className: 'btn btn-primary ml-1',
            footer: true,
            exportOptions: {
                columns: ':not(.notexport)'
            }
            //Columns to export
            //exportOptions: {
            //     columns: [0, 1, 2, 3, 4, 5, 6]
            //  }
        }],
    })
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    let message = document.getElementById('message').innerText;
    if (message) {
        swal({
            title: "Action Successful",
            text: message,
            icon: "success",
            closeOnClickOutside: false,
            closeOnEsc: false,
        }).then(function () {
            // window.location = "{{redirect_url}}";
            window.location.href = "/dashboard/addmanager";
        });
    }
</script>

<script>
    $(document).ready( function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                // 'copyHtml5',
                // 'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('#cityId').select2({
            theme: "classic"
        });
    });
</script>
{% endblock %}