{% extends 'spadashboard/index.html' %}
{% load static %}
{% block heading %}

<div class="page-title-wrapper">
	<div class="page-title-heading">
		<div class="page-title-icon">
			<i class="fa fa-user icon-gradient bg-mean-fruit">
			</i>
		</div>
		<div>
			Manage Staff
			<div class="page-title-subheading">You can manage your staff here.
			</div>
		</div>
	</div>
	<div class="page-title-actions">
		<button id="btnaddstaff" type="button" class="btn btn-info">
			<span class="btn-icon-wrapper">
				<i class="fa fa-user-plus fa-fw"></i>
			</span>
			Add Staff
		</button>
	</div>
</div>

{% endblock %}
{% block home %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		$("#stafflistsection").hide();
		$("#btnaddstaff").click(function () {
			$("#stafflistsection").toggle();
		});
	});
</script>
<div class="container-fluid p-3 mb-3 rounded bg-white" id="stafflistsection">
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Staff Details</h4>
			<hr />
		</div>
	</div>
	<form action="{% url 'addstaff' %}" method="POST">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-4 form-group">
				<label>Staff Name</label>
				<input type="name" name="name" class="form-control" required="required" />
			</div>
			<div class="col-md-4 form-group">
				<label>Mobile_No</label>
				<input type="text" name="mobileno" class="form-control"
					required="required" />
			</div>
			<div class="col-md-4 form-group">
				<label>City</label>
				<select name="city" id="cityId" style="width: 100%;" required>
					<option selected disabled> Select City..</option>
					{% for cities in city %}
						<option value="{{cities.id}}">{{ cities.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="offset-md-8 col-md-4">
				<button type="submit" class="btn btn-info btn-lg btn-block font-weight-bold ">Add New Staff</button>
			</div>
		</div>
	</form>
</div>

<!--staff details -->
<div class="container-fluid p-3 mb-3 rounded bg-white" id="stafflistsection">
	<div class="row">
		<div class="col-md-12 text-center">
			<h4>Staff Details</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<table class="table table-bordered">
				<thead class="alert-light">
					<tr>
						<th>NAME</th>
						<th>Mobile_No</th>
						<th>city</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for staf in staff %}
					<tr>
						<td>{{ staf.name }}</td>
						<td>{{ staf.mobileno }}</td>
						<td>{{ staf.city }}</td>
						<input type="hidden" name="{{ staf.id }}" value="">
						<td>
							<a class="btn btn-warning text-white font-weight-bold" onclick="edit_{{ staf.id }}()"
								data-toggle="modal" data-target="#myModal">
								Edit
							</a>
							<a class="btn btn-danger text-white font-weight-bold" onclick="delete_{{ staf.id }}"
								data-toggle="modal" data-target="#myModals">Delete
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- update details -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content p-3">
			<div class="modal-header">
				<h4 class="modal-title">Edit Staff Details</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<form id="update_form" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label for="name" class="label">Change Name</label>
						<input id="name" type="text" name="name" class="form-control" required="required" />
					</div>
					<div class="form-group">
						<label for="name" class="label">Mobile_No</label>
						<input id="mobileno" type="text" name="mobileno" class="form-control" required="required" />
					</div>
					<div class="form-group">
						<label for="name" class="label">City</label>
						<select name="city" id="city" class="form-control">
							{% for cities in city %}
							<option value="{{cities.id}}">{{cities.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary w-100">Update</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- delete-->
<div class="modal fade" id="myModals" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content p-3">
			<div class="modal-header">
				<h4 class="modal-title text-center">Delete staff Details</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<h6>Are you sure to delete staff</h6>
				<hr />
				<div class="col-12 text-right mt-3">
					<a id="s_delete" class="btn btn-danger text-white font-weight-bold">Delete</a>
				</div>
			</div>
			<!-- <div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div> -->
		</div>
	</div>
</div>
<!-- end of delete -->

<script>
	{% for staf in staff %}
	function edit_{ { staf.id } } (){
		$("#name").val("{{ staf.name }}")
		$("#mobileno").val("{{ staf.mobileno }}")
		$("#city").val("{{ staf.city.id }}")
		$("#city").attr("selected")

		$("#update_form").attr("action", "{% url 'update_staff' staf.id %}")
	}
	function delete_{ { staf.id } } (){
		$('#s_delete').attr('href', "{% url 'delete_staff' staf.id %}")
	}
	{% endfor %}
</script>

<script>
	$(document).ready(function () {
		$('#cityId').select2({
			theme: "classic"
		});
	});
</script>

{% endblock %}