
{% extends 'spadashboard/index.html' %}
{% load static %}
{% block heading %}
<div class="page-title-wrapper">

<div class="page-title-heading">  
    <div class="page-title-icon">
        <i class="fa fa-building icon-gradient bg-mean-fruit">
        </i>
    </div>
    <div>
        User Activity
        <div class="page-title-subheading">You can have eyes on your User's Activities.
        </div>
    </div>
</div>
<div class="page-title-actions">
   
        <button id="btnaddclient" type="button" class="btn btn-info">
            <span class="btn-icon-wrapper">
                <i class="fa fa-chart-line fa-fw"></i>
            </span>
            User Activity
        </button> 

</div> 
                           
</div>
{% endblock %}
{% block home %}

















{% endblock %}